body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header h1 {
    margin: 0;
    font-size: 24px
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

header nav ul li a:hover {
    color: #ffcc00
}

main {
    background-color: rgb(239, 239, 239);
    color: black;
    padding: 20px;
    min-height: 400px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

footer h1 {
    margin: 0;
    font-size: 24px
}

footer nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}